ant
astyle
bash-completion
cgdb
cmake
cscope
dos2unix
expect
git-all
indent
java-1.8.0-openjdk-devel
java-11-openjdk-devel
kcachegrind
libstdc++-static
lsof
man-db
man-pages
ncurses-devel
net-tools
ninja-build
nmap-ncat
openssh-server
openssl-devel
passwd
perf
python2-devel
python3-devel
sudo
systemtap-sdt-devel
telnet
unixODBC-devel
vim-enhanced
yum-utils
